<div class="container announcement">
    <div class="row featurette-sm featurette-no-top">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger">
                <p>
                    This website is <strong>obsolete</strong>. We haven't really found the time to kick this thing back to life, but for now, we're just going to bring this website back to life for <a href="https://twitter.com/resir014/status/625613110649360384" target="_blank">"nostalgic purposes"</a>. Enjoy!
                </p>
                <p>
                    <strong>Note:</strong> All of the contact details have been blanked out to protect the foolish.
                </p>
            </div>
        </div> <!-- /.col-lg-8 .col-lg-offset-2 -->
    </div> <!-- /.row -->
</div> <!-- /.container -->
