<footer id="footer">
    <div class="footer-link-wrapper">
        <div class="container">
            <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Participants</a></li>
                <li><a href="#">Join us!</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-blah">
        <div class="container">
            <img src="/img/logo/logo_footer.png" alt="Footer logo" />
            <p><a href="http://resir014.github.io/" target="_blank">resir014</a> built this site.</p>
            <p>All names, images and logos are copyrights of their respective owners.</p>
            <p>Hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.</p>
        </div>
    </div>
</footer>
