<section id="why">
    <div class="container">
        <div class="row featurette featurette-centered">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="featurette-title">Why is this thing back on?</h2>
                <p class="lead">
                    This website is <strong>obsolete</strong>. We haven't really found the time to kick this thing back to life, but for now, we're just going to bring this website back to life for <a href="https://twitter.com/resir014/status/625613110649360384" target="_blank">"nostalgic purposes"</a>. Enjoy!
                </p>

                <div class="alert alert-danger">
                    <p>
                        <strong>Note:</strong> All of the contact details have been blanked out to protect the foolish.
                    </p>
                </div>
            </div> <!-- /.col-md-8 .col-md-offset-2 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
