<section id="contact">
    <div class="container">
        <div class="row featurette featurette-centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="featurette-title">Contacts</h2>
                <p class="lead">Got any feedbacks, comments, questions, or love letters? Please don’t hesitate to send them here. :)</p>
            </div> <!-- /.col-lg-8 .col-lg-offset-2 -->
        </div> <!-- /.row -->
        <div class="row featurette-sm featurette-no-top featurette-centered">
            <div class="col-md-4">
                <h3 class="featurette-column-title">Follow us</h3>
                <p>Go say hi to us on one of these obscure medias of social interactions.</p>

                <div class="social-links">
                    <a href="https://twitter.com/FandomFestJKT" target="_blank">
                        <i class="fa fa-twitter fa-fw fa-3x"></i>
                    </a>
                    <a href="https://facebook.com/FandomFestJKT" target="_blank">
                        <i class="fa fa-facebook fa-fw fa-3x"></i>
                    </a>
                </div>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h3 class="featurette-column-title">We have a blog too</h3>
                <p>Follow our Tumblr blog for more updates about FandomFest 2014.</p>

                <a class="btn btn-success" href="http://blog.fandom-fest.com/" target="_blank">
                    Click here!
                </a>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h3 class="featurette-column-title">Send us an email</h3>

                <div class="email-wrapper">
                    <i class="fa fa-envelope fa-fw"></i> fandomfestival@gmail.com</li>
                </div>
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
        <div class="row featurette-sm">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="featurette-column-title featurette-centered">Contact persons</h3>

                <div class="row featurette-centered">
                    <div class="col-md-4">
                        <h3>Sponsorship</h3>
                        <dl>
                            <dt>Alicia</dt>
                            <dd><i class="fa-fw fa fa-phone"></i> +62 821-1174-1565</dd>
                        </dl>
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <h3>Registration</h3>
                        <dl>
                            <dt>Venta</dt>
                            <i class="fa-fw fa fa-phone"></i> +62 878-0845-0893
                        </dl>
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <h3>General</h3>
                        <dl>
                            <dt>Iput</dt>
                            <dd><i class="fa-fw fa fa-phone"></i> +62 817-0953-953</dd>
                            <dt>Alyssa</dt>
                            <dd><i class="fa-fw fa fa-phone"></i> +62 811-142-616</dd>
                        </dl>
                    </div> <!-- /.col-md-4 -->
                </div> <!-- /.row -->
            </div> <!-- /.col-lg-8 .col-lg-offset-2 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
