<section id="join-us">
    <div class="container">
        <div class="row featurette featurette-centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="featurette-title">Join us!</h2>
                <p class="lead">Everything you need to know in taking part on FandomFest 2014.</p>
            </div> <!-- /.col-lg-8 .col-lg-offset-2 -->
        </div> <!-- /.row -->

        <!--div class="row featurette-sm featurette-no-top featurette-centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="featurette-column-title">Participants</h3>
                <p>We thank the following fandoms, clubs, sponsors, etc. that will participate on our main event.</p>

                <a class="btn btn-success" href="/participants/">View all participants</a>
            </div> !-- /.col-lg-8 .col-lg-offset-2 --
        </div> !-- /.row -->

        {% include announcement.html %}

        <div class="row featurette-sm text-muted">
            <div class="col-md-3 col-equal">
                <div class="well">
                    <h4 class="featurette-column-title">Volunteers</h4>
                    <p>We’re still a bit short on staff here and wouldn’t mind to have some helping hands.</p>
                    <p>Preferrably attached to the body.</p>

                    <!--p class="text-muted">Kami membutuhkan bantuanmu untuk menjadi bagian dari tim Fandom Fest 2014. Ayo daftarkan diri sekarang!</p-->

                    <!--p class="text-danger">Applications closed. Thank you for your interest!</p-->

                    <div class="well-btn">
                        <a class="btn btn-primary btn-block" disabled="disabled"><i class="fa fa-pencil-square-o "></i> Nope.</a>
                    </div>
                </div>
            </div> <!-- /.col-md-3 -->

            <div class="col-md-3 col-equal">
                <div class="well">
                    <h4 class="featurette-column-title">Booth Registration</h4>
                    <p>Share your passion and showcase your creations with us!</p>

                    <p class="text-muted">Sebarkan minat dan pamerkan kreasimu bersama kami!</p>

                    <p class="text-info">Tipe Booth: Booth Fanbase, booth Fanartists, booth Food &amp; Drink.</p>

                    <div class="well-btn">
                        <a class="btn btn-primary btn-block" disabled="disabled"><i class="fa fa-pencil-square-o "></i> Nope.</a>
                    </div>
                </div>
            </div> <!-- /.col-md-3 -->

            <div class="col-md-3 col-equal">
                <div class="well">
                    <h4 class="featurette-column-title">Performance Registration</h4>
                    <p>Got any interesting talent to show? Singing, dancing, acting, or anything fun, maybe? Join us now!</p>

                    <p class="text-muted">Punya bakat yang menarik untuk ditampilkan? Mungkin menyanyi, menari, atau apapun yang menyenangkan, ayo bergabung bersama kami!</p>

                    <div class="well-btn">
                        <a class="btn btn-primary btn-block" disabled="disabled"><i class="fa fa-pencil-square-o "></i> Nope.</a>
                    </div>
                </div>
            </div> <!-- /.col-md-3 -->

            <div class="col-md-3 col-equal">
                <div class="well">
                    <h4 class="featurette-column-title">Sponsorship &amp; Media Partners</h4>
                    <p>Be our sponsor or media partner to collaborate to nurture the creative passion of the young people!</p>

                    <p class="text-muted">Jadilah sponsor atau media partner untuk bekerja sama dengan kami dalam mendukung minat kreatif anak muda!</p>

                    <div class="well-btn">
                        <a class="btn btn-primary btn-block" disabled="disabled"><i class="fa fa-envelope-o "></i> Nope.</a>
                    </div>
                </div>
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
