<section id="programs">
    <div class="container">
        <div class="row featurette featurette-centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="featurette-title">Our Programs</h2>
            </div> <!-- /.col-lg-8 .col-lg-offset-2 -->
        </div> <!-- /.row -->

        <div class="row featurette-sm featurette-no-top">
            <div class="col-md-6">
                <h3 class="featurette-column-title">Cosplay Walk</h3>
                <p>Cosplay Walk is a parade in TV/movie inspired costumes. The parade will be held around Bundaran HI area during the car free day and is free for all to join.</p>
                <p class="text-muted">Cosplay Walk berupa parade dalam kostum yang terinspirasi dari film atau serial TV. Parade akan dilakukan di daerah Bundaran HI saat Car Free Day dan bebas diikuti siapa saja yang berminat untuk bergabung</p>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6">
                <h4 class="featurette-column-title">Schedule</h4>
                <address>
                    <strong>Bundaran HI</strong><br />
                    Minggu, 10 Agustus 2014<br />
                    09:00-11:00
                </address>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->

        <div class="row featurette-sm">
            <div class="col-md-6">
                <h3 class="featurette-column-title">Main Event</h3>
                <p>Fandom Festival is an event to gather all TV and movie enthusiasts. Fandom Festival will be held for two days in an outdoor venue in the center of Jakarta.</p>
                <p class="text-muted">Fandom Festival adalah suatu acara yang bertujuan mempertemukan sesama pecinta dunia pop culture, terutama serial TV dan film. Fandom Festival akan dikemas dalam bentuk festival di ruang terbuka di tengah kota Jakarta yang dilaksanakan selama dua hari.</p>

                <h4 class="featurette-column-title">Schedule</h4>
                <address>
                    <strong>Taman Menteng</strong><br />
                    Sabtu-Minggu, 23-24 Agustus 2014<br />
                    10:00-18:00
                </address>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6">
                 <h4 class="featurette-column-title">Event Highlights</h4>
                <dl>
                    <dt>Bazaar</dt>
                    <dd>
                        A spectacular bazaar showcasing fanbases and fanartists from all your favorite fandoms!<br />
                        <span class="text-muted">Sebuah bazaar spektakular yang menampilkan fanbase dan fanartist dari fandom-fandom favoritmu!</span>
                    </dd>
                    <br />
                    <dt>Panels</dt>
                    <dd>
                        Discussion Panels with topics around movies and television.<br />
                        <span class="text-muted">Panel Diskusi dengan topik-topik menarik seputar dunia film dan televisi dengan narasumber terkemuka.</span>
                    </dd>
                    <br />
                    <dt>Workshops</dt>
                    <dd>
                        Interesting workshops around fandoms, movies, and TV series.<br />
                        <span class="text-muted">Lokakarya yang melatih keterampilan-keterampilan menarik dengan tema seputar fandom serta dunia film dan televisi.</span>
                    </dd>
                </dl>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
