<!doctype html>
<html>
    <head>
        {% include html/head.html %}
    </head>

    <body id="top">

        {% if page.slug == nil %}
        {% include home/navbar.html %}
        {% include home/intro.html %}
        {% else %}
        {% include navbar.html %}
        {% endif %}

        <main id="content">

            {% if page.slug %}
            {% include breadcrumbs.html %}
            {% endif %}

            {{ content }}

        </main>

        {% if page.slug == nil %}
        {% include home/footer.html %}
        {% else %}
        {% include footer.html %}
        {% endif %}

        {% include html/scripts.html %}

    </body>
</html>
