<footer id="footer-intro">
    <hr />
    <div class="footer-intro-blah">
        <div class="container">
            <img src="{{ site.baseurl }}/img/logo/logo_footer.png" alt="Footer logo" />
            <p><a href="http://resir014.github.io/" target="_blank">resir014</a> built this site.</p>
            <p>All names, images and logos are copyrights of their respective owners.</p>
            <p>Hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.</p>
        </div> <!-- /.container -->
    </div>
</footer>
