<header class="intro">
    <div class="intro-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img class="logo" src="/img/logo/logo-1-wordmark.png" alt="FandomFest Logo" />
                    <p><strong>fan&middot;dom</strong> (noun) &mdash; abbreviation of <strong>fan</strong> and <strong>domain</strong>; a term to describe the fan community of a certain TV series/movie/book, etc.</p>
                </div>
            </div>
        </div> <!-- /.container -->

        <div class="intro-page-scroll page-scroll hidden-md hidden-sm hidden-xs">
            <a href="#about" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</header>
