<section id="about">
    <div class="container">
        <div class="row featurette featurette-centered">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="featurette-title">Welcome to FandomFest 2014.</h2>
                <p class="lead">FandomFest is basically a summer festival of all your favorite TV/movie fandoms, so come on, turn your laptop off for a few hours and get out of the house for some fun with your fellow <strike>nerds</strike> enthusiasts.</p>
                <p class="lead">Or you can bring your laptop along... I guess that's fine.</p>
            </div> <!-- /.col-md-8 .col-md-offset-2 -->

            <div class="featurette-link-wrapper featurette-centered">
                <a class="btn btn-default btn-lg" href="/about">More about us. <i class="fa fa-chevron-right fa-fw"></i></a>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
